[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "==3.2.7"
certifi = "==2019.11.28"
chardet = "==3.0.4"
gunicorn = "==20.0.4"
idna = "==2.9"
lxml = "==4.5.0"
pytz = "==2019.3"
requests = "==2.23.0"
sqlparse = "==0.3.1"
urllib3 = "==1.25.8"
whitenoise = "==5.0.1"
CodeforcesApiPy = "==1.2.1"
Django = "==3.0.7"

[requires]
python_version = "3.8"
